__pycache__/
*.py[cod]

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db

outputs/

*.zip
*.pt
*.pth
*.onnx
*.bin
*.mp4
*.exe

Reference/TestFiles/
Reference/windows_v1.8.1/

fruits-360-100x100/
fruits-360-100x100-full/
